@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-Righteous: "Righteous", ui-serif;
    --color-text: #F1F2F4;
    --color-background: #030407;
    --color-primary: #88A9F6;
    --color-secondary: #3C4C72;
    --color-accent: #F66C6A;
}

@layer base {
    [data-theme='light'] {
        --color-text: rgb(11 12 14);
        --color-background: rgb(248 249 252);
        --color-primary: rgb(9 42 119);
        --color-secondary: rgb(141 158 195);
        --color-accent: rgb(149 11 9);
    }

    [data-theme='dark'] {
        --color-text: #F1F2F4;
        --color-background: #030407;
        --color-primary: #88A9F6;
        --color-secondary: #3C4C72;
        --color-accent: #F66C6A;
    }

    [data-theme='catppuccin'] {
        --color-text: #c6d0f5;
        --color-background: #1E1E2E;
        --color-primary: #ca9ee6;
        --color-secondary: #babbf1;
        --color-accent: #e78284;
    }

    [data-theme='tokyonight'] {
        --color-text: #82AAFF;
        --color-background: #222436;
        --color-primary: #C099FF;
        --color-secondary: #C8D3F5;
        --color-accent: #C3E88D;
    }
}

.font-sans {
    font-weight: 300;
}

html,
body {
    @apply bg-background text-text;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.lucide {
    stroke-width: 1.5;
}
