@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-Righteous: "Righteous", ui-serif;
    --color-text: #F1F2F4;
    --color-background: #030407;
    --color-primary: #88A9F6;
    --color-secondary: #3C4C72;
    --color-accent: #F66C6A;
}

@layer base {
    [data-theme='light'] {
        --color-text: rgb(11 12 14);
        --color-background: rgb(248 249 252);
        --color-primary: rgb(9 42 119);
        --color-secondary: rgb(141 158 195);
        --color-accent: rgb(149 11 9);
    }

    [data-theme='dark'] {
        --color-text: #F1F2F4;
        --color-background: #030407;
        --color-primary: #88A9F6;
        --color-secondary: #3C4C72;
        --color-accent: #F66C6A;
    }

    [data-theme='catppuccin'] {
        --color-text: #b5bfe2;
        --color-background: #181825;
        --color-primary: #a38ecb;
        --color-secondary: #494C59;
        --color-accent: #e06c75;
    }

    [data-theme='tokyonight'] {
        --color-text: #bfc6d4;
        --color-background: #181a23;
        --color-primary: #9d7cd8;
        --color-secondary: #3c4c72;
        --color-accent: #9ece6a;
    }

    .form-style {
        @apply flex flex-col w-full items-center gap-4 mt-2;
    }

    .form-input {
        @apply w-full bg-transparent p-2 text-lg border border-primary/40 rounded-xl resize-none h-auto focus:outline-none focus:border-accent placeholder:text-primary/40 transition-colors;
    }

}

.font-sans {
    font-weight: 300;
}

html,
body {
    @apply bg-background text-text;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.lucide {
    stroke-width: 1.5;
}
