@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-background dark:dark;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

@layer base {
    :root {
        --text: 11 12 14;
        --background: 248 249 252;
        --primary: 9 42 119;
        --secondary: 141 158 195;
        --accent: 149 11 9;
    }

    .dark {
        --text: 241 242 244;
        --background: 3 4 7;
        --primary: 136 169 246;
        --secondary: 60 76 114;
        --accent: 246 108 106;
    }

    .font-outfit {
        font-weight: 300;
    }

    .form-field {
        @apply w-full bg-transparent p-2 text-lg border border-primary/40 rounded-xl resize-none h-auto focus:outline-none focus:border-accent placeholder:text-primary/40 transition-colors
    }

}

.lucide {
    stroke-width: 1.5;
}

.scrollbar-gutter-auto {
    scrollbar-gutter: auto;
}

.scrollbar-gutter-stable {
    scrollbar-gutter: stable;
}
