@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

@layer base {
    :root {
        --text: #0b0c0e;
        --background: #f8f9fc;
        --primary: #092a77;
        --secondary: #8d9dc3;
        --accent: #950b09;
    }

    .dark {
        --text: #f1f2f4;
        --background: #030407;
        --primary: #88a9f6;
        --secondary: #3c4b72;
        --accent: #f66c6a;
    }
}
